body {
    background: black;
}

#container {
    width: 630px;
    margin: 50px auto;
    box-sizing: border-box;
    background: #333;
    border-radius: 10px;
}

#top {
    height: 100px;
    box-sizing: border-box;
}

#display {
    float: right;
    margin: 50px 60px;
    color: white;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 100px);
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    box-sizing: border-box;
    text-align: center;
}

.btn {
    background: #666;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.operator, #equals {
    background: orange;
}

#clear, #zero {
    grid-column: 1 / 3;
    padding: 10px 85px;
}